<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hermes - health monitoring system</title>
	<meta name="description" content="On this webstie you can connect your band's Hermes and monitor health statistics " />
    <meta name="keywords" content="health, sport, fitness, technology" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    {% block head %}{% endblock %}

</head>
<body>
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}

</body>
</html>