{% extends 'base.html' %}
{% block head %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="wrapper">
      <nav>
              <div class="logo">
              HERMES
              </div>

              <div class="menu">
                    <ul>
                       <li><a href="#main">Main</a></li>
                       <li><a href="#about">About project</a></li>
                       <li><a href="#contact">Contact</a></li>
                    </ul>
              </div>
        </nav>
                

</div>  

<div class="main-area" id="main">

        <a href="{{ url_for('log') }}"><button class="btn">&nbsp;Log in&nbsp;</button></a>
        <a href="{{ url_for('register') }}"><button class="btn">Register</button></a>
</div>
  
<div class="about-area" id="about">
  <header>
      <h1>About project</h1>
  </header>
        <div class='areainfo'>      
        HERMES is a sport band, which will help you control your health. With HERMES band you can measure your heart rate, temperature and steps.The band is equipped with a display that displays the time and data selected by the user.
        On this page you can register your product and use all the options offered by HERMES. As a user of page, you can create your profile and view data from sport band in graphic form. If you are interested in the band, please fill out the contact field.
      </div>
      <div class="photo1"> </div>
</div>
<div class="contact-area" id="contact">
  <div class="contact-box">
        <h1>Contact us</h1>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                <input type="text" name="" placeholder="Mail">
                <input type="submit" name="" value="Send">
  </div> 
</div>

<div class="footer">Product by Michał Borkowski and Jakub Wojciechowski.</div>
{% endblock %}