{% extends 'user.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}


{% block body %}
<div class="stats_content">
    <div class="chart_stats">
      <h2>Mindfulness during the day<button class="button"  onclick="updateData(polarChart)">Update</button></h2>
        <canvas id=myChart></canvas>
        <script>
          var myChart = document.getElementById('myChart').getContext("2d");
          Chart.defaults.global.defaultFontSize =  18;
          Chart.defaults.global.defaultFontColor = "#ccc";
          var polarChart = new Chart(myChart,
          {type:'polarArea',
          data:{ 
            labels: ['mindless','mindfull'],
            datasets:[{
              data: [30,100],
              backgroundColor: ['#F1948A','#82E0AA'],
              borderWidth:1,
              borderColor:'#777',
              hoverborderWidth:3,
              hoverborderColor:'#000'
            }]
          },
          options: {
                    responsive: true,
            legend: {
                position: 'bottom',
            }
          }
          });

         function updateData(chart){
         chart.data.datasets[0].data = 
          [{% for item in values %}
          {{item}},
          {% endfor %}];
          chart.update();
          }

        </script>
    </div>

{% endblock %}