{% extends 'user.html' %}
{% block head %}
{% endblock %}


{% block body %}
<div class="stats_content">
  <main>
	
		<article>
		
			<div class="container">
			
				<header>
					<h1>Control your life</h1>
				</header>
			
				<div class="postcard">
				
					<div class="photo5"> 
						<a href="{{url_for('activity_char')}}"><img src="static/img/activity.jpg"  width="450" height="300"></a>
					</div>
					<p>Check your activity</p>
					
				</div>
				
				<div class="postcard">
				
					<div class="photo5"> 
						<a href="#"><img src="static/img/mindfulness.jpg"  width="450" height="300"></a>
					</div>
          			<p>Check your mindfulness</p>
					
					
				</div>
				
				<div class="postcard">
				
					<div class="photo5"> 
							<a href="{{url_for('sleep_char')}}"><img src="static/img/sleep.jpg" width="450" height="300"></a>
					</div>
					<p>Check your sleep</p>
					
				</div>
				
				<div class="postcard">

				<div class="photo5"> 
					<a href="{{url_for('health_char')}}"><img src="static/img/health.jpg"  width="450" height="300"></a>
				</div>
				<p>Check your health</p>
					
				</div>				
					
	
			</div>

		</article>
	
	</main>
</div>
{% endblock %}