{% extends 'user.html' %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ]);

    var options = {
      title: 'My Daily Activities',
      backgroundColor: { fill:'transparent' },
      
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 5 ],
          [ new Date(2012, 3, 14), 4 ],
          [ new Date(2012, 3, 15), 3 ],
          [ new Date(2012, 3, 16), 0 ],
          [ new Date(2012, 3, 17), 1 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 0 ],
          [ new Date(2013, 9, 5), 2 ],
          [ new Date(2013, 9, 12), 5 ],
          [ new Date(2013, 9, 13), 3 ],
          [ new Date(2013, 9, 19), 2 ],
          [ new Date(2013, 9, 23), 2 ],
          [ new Date(2013, 9, 24), 1 ],
          [ new Date(2013, 9, 30), 0 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Calendar of activity",
         height: 350,
         backgroundColor: { fill:'transparent' },
       };

       chart.draw(dataTable, options);
   }
    </script>
{% endblock %}


{% block body %}
<div class="main_content">
      <div>Dear user of the Hermes sports band, on this page when the band is connected to the internet, you have access to your statistics.  </div>
      <div id="piechart"  class="piechart" style="width: 700px; height: 300px;" ></div>
      <div id="calendar_basic" class=calendar_basic style="width: 1000px; height: 350px;"></div>
</div>
{% endblock %}