{% extends 'user.html' %}
{% block head %}
{% endblock %}


{% block body %}
<div class="stats_content">

        <div class=table1>
            <table class="content-table">
              <thead>
                <tr>
                  <th>Week</th>
                  <th>Number of steps</th>
                  <th>Active time in hours</th>
                  <th>Average Pressure</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>35000</td>
                  <td>14</td>
                  <td>121</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>70000</td>
                  <td>20</td>
                  <td>126</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>52000</td>
                  <td>36</td>
                  <td>130</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>64000</td>
                  <td>40</td>
                  <td>118</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>72000</td>
                  <td>27</td>
                  <td>114</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>80000</td>
                  <td>15</td>
                  <td>123</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>53000</td>
                  <td>19</td>
                  <td>120</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>61000</td>
                  <td>25</td>
                  <td>122</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>45000</td>
                  <td>30</td>
                  <td>127</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>36000</td>
                  <td>27</td>
                  <td>125</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>80000</td>
                  <td>13</td>
                  <td>114</td>
                </tr>
              </tbody>
            </table>
      </div>
</div>
{% endblock %}