{% extends 'user.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}


{% block body %}
<div class="main_content">
      <div class="piechart">
          <canvas id=myChart></canvas>
          <script>
            let myChart = document.getElementById('myChart').getContext("2d");
            Chart.defaults.global.defaultFontSize =  18;
            Chart.defaults.global.defaultFontColor = "#000";

            let pieChart = new Chart(myChart,
            {type:'pie',
            data:{ 
              labels: ['normal','high pressure','low pressure'],
              datasets:[{
                label: "Blood pressure during the day",
                data: [60,20,20],
                backgroundColor: ['#82E0AA','#F1948A','#85C1E9'],
                borderWidth:1,
                borderColor:'#777',
                hoverborderWidth:3,
                hoverborderColor:'#000'
              }]
            },
            options: {
              title:{
                display:true,
                text:"Blood pressure during the day",
                fontsize: 25
              }
            }
            });
          </script>
      </div>


      <div class="histo">
          <canvas id=myChart2></canvas>
          <script>
            let myChart2 = document.getElementById('myChart2').getContext("2d");
            Chart.defaults.global.defaultFontSize =  18;
            Chart.defaults.global.defaultFontColor = "#000";

            let barChart = new Chart(myChart2,
            {type:'bar',
            data:{ 
              labels: ['Monday','Tuesday','Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday'],
              datasets:[{
                label: 'Steps',
                data: [5000,6000,11000,10000,12000,7000,3000],
                backgroundColor: ['#D7BDE2','#A9CCE3','#A3E4D7','#F9E79F','#F5CBA7','#F5B7B1','#D6DBDF'],
                borderWidth:1,
                borderColor:'#777',
                hoverborderWidth:3,
                hoverborderColor:'#000'
              }]
            },
            options: {
              title:{
                display:true,
                text:"Number of steps during the day",
                fontsize: 25
              },
              scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true   
                    }
                  }]
                 }
            }
            });
          </script>
      </div>

      <div class="doughnut">
          <canvas id=myChart3></canvas>
          <script>
            let myChart3 = document.getElementById('myChart3').getContext("2d");
            Chart.defaults.global.defaultFontSize =  18;
            Chart.defaults.global.defaultFontColor = "#000";

            let doughnutChart = new Chart(myChart3,
            {type:'doughnut',
            data:{ 
              labels: ['normal','high activity','low activity'],
              datasets:[{
                label: 'activity',
                data: [40,30,30],
                backgroundColor: ['#82E0AA','#F1948A','#85C1E9'],
                borderWidth:1,
                borderColor:'#777',
                hoverborderWidth:3,
                hoverborderColor:'#000'
              }]
            },
            options: {
              title:{
                display:true,
                text:"Activity during the day",
                fontsize: 25
              },
              rotation: 1 * Math.PI,
              circumference: 1 * Math.PI
            }
           
            });
          </script>
      </div>

</div>
{% endblock %}